{% extends "index.html" %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-sm-1">
            <h1>Welcome to the TweetPinna Dashboard</h1>
            <h4>Instance: {{ instance_name }}</h4>
        </div>
        <div class="col-lg-2 col-sm-11">
            <img class="header-img" src="{{ url_for('static', filename='img/tweetpinna-logo.png') }}" alt="TweetPinna"/>
        </div>
    </div>
</div>

<br>

<div class="container-fluid">

  <div class="card tp-card">
    <div class="card-block">
      <h4 class="card-title">Currently Tracking</h4>
      <h5>Terms</h5>
      {% if tracking_terms|length > 0 %}
        {% for term in tracking_terms %}
          <span class="hashtag">{{ term }}</span>
        {% endfor %}
      {% else %}
        No tracking in progress.
      {% endif %}

      <br><br>

      <h5>Locations</h5>
      {% if tracking_locations|length > 0 %}
        {{ tracking_locations }}
      {% else %}
        No tracking in progress.
      {% endif %}
    </div>
  </div>

  <div class="card tp-card">
    <div class="card-block">
      <h4 class="card-title">Documents in the Collection</h4>
      <p>There are <strong id="dic">{{ docs_in_collection }}</strong> documents in the collection.</p>
      <p>The last document was added at <strong id="led">{{ last_entry_time }}</strong>.</p>
      <p>Tweets are being collected at an estimated speed of <span style="font-weight: bold;" id="tph">[Please wait for 60s] <img class="loading-img" src="{{ url_for('static', filename='img/loading-pacman.gif') }}" alt="Loading" /></span> Tweets/h.
    </div>
  </div>

  <div class="card tp-card">
    <div class="card-block">
      <h4 class="card-title">Tweets over Time (Streaming)</h4>
      <img class="result-img img-fluid" src="{{ url_for('static', filename='img/results/tweets-by-hour.png') }}" alt="Tweets by Hour"/>
      <img class="result-img img-fluid" src="{{ url_for('static', filename='img/results/tweets-by-day.png') }}" alt="Tweets by Day"/>
      <img class="result-img img-fluid" src="{{ url_for('static', filename='img/results/tweets-over-time.png') }}" alt="Tweets over Time"/>
    </div>
  </div>

  <div class="card tp-card">
    <div class="card-block">
      <h4 class="card-title">Random Tweets from the Collection</h4>
      <div id="random-tweets">
      {% for tweet in random_tweets %}

        <div class="card" style="margin-bottom: 10px;">
          <div class="card-block">
            <h6 class="card-title">@{{ tweet['user']['screen_name'] }} <span style="color: #D3D3D3">ID: <a href="/tweet/{{ tweet['id'] }}">{{ tweet['id'] }}</a></span></h4>
            <p class="card-text">
              {{ tweet['text_html_annotated']|safe}}
            </p>
          </div>
        </div>

      {% endfor %}
      </div>
    </div>
  </div>

</div>

{% endblock %}
